.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
    background-color: #fff;
}

.kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
    background-color: #f3faff;
}

.kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link > .kt-menu__link-text {
    color: #5d78ff;
}
.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-username{color:#333;}