.bookmark_icon{cursor: pointer;}
.mat-paginator-page-size{margin-right:auto !important;}

.mat-menu-content{
    .mat-menu-item{
        height:36px; line-height:36px;
    }
}
.mat-elevation-z4{
    box-shadow:0 2px 4px -1px rgba(0,0,0,.08), 0 4px 5px 0 rgba(0,0,0,.05), 0 1px 10px 0 rgba(0,0,0,.04);
}
#history_aside{    
    .kt-widget2 .kt-widget2__item{
        &:hover{background-color:#f9f9f9;}
    }
    .ngx_mat_daterange{
        position: relative;
        .mat-form-field-wrapper{
            position: relative;
            .mat-form-field-infix{position: relative;
                .md-drppicker.shown{width:625px;}
                }
        }
    }
    .example-additional-selection {
        opacity: 0.75;
        font-size: 0.75em;
      }
      
    .mat-expansion-panel{
        box-shadow:none !important; border-radius:0; 
        &.mat-expanded.mat-expansion-panel-spacing{
            overflow:visible;
        }
        .mat-expansion-panel-header-title{line-height:15px; color:#48465b; font-size: 1.2rem;
            font-weight: 500; font-family:Poppins, Helvetica, sans-serif;
         .fa{color:#777;}
        }
    }
    .mat-form-field{max-width:100%;}
    .filter_tools{margin:0 0 30px;
        li{margin-right:5px; position: relative;
        &.date_range_picker{
            position: relative;
            .md-drppicker.shown{
                position:absolute; left:0; top:150%; width:515px;
            }
        }
        &.search{
            .dropdown-menu{right:0; left:auto;}
        }
        }
    }
.success_badge{
    background-color:rgba(29, 201, 183, 0.1); color:#1dc9b7; cursor:text !important;
    padding:0.1rem .5rem; border-radius:0.2rem; line-height:1.5; font-size:0.875rem; display:inline-block;
}
.hist_list_action{position: relative; 
 button[aria-expanded='true']{
    color: #5d78ff;
    background: #f0f3ff;
 }
.dropdown-menu{right:0; left:auto;}
}
.status_indicator{font-size:.75rem; font-weight:500;}

    .custom_tagify {
        width: 100%;
        display: flex;
        width: 100%;
        clear: both;
        margin: 5px 0;

        .tags {
            font-size: .8rem;
            background: #f0f0f0;
            margin-right: 5px;
            padding: 2px 5px;
            margin-bottom: 5px;
            transition: .5s ease;

            i {
                margin-left: 5px;
                font-size: .5rem;
                line-height: .6rem;
                cursor: pointer;
                padding: 5px;
            }

            &:hover {
                background: #ddd;
            }
        }
    }

    .kt-widget2 .kt-widget2__item .kt-widget2__info .kt-widget2__username:hover{
        color:#74788d;
    }

 .history_filter_accordion{
    .mat-select-value{
        color:rgba(0,0,0,.57)
    }
    
 }
}


.kt-widget2 .kt-widget2__item{
    &.viewProfileActive{
        background-color:#f5f5f5;
    }
    &.kt-widget2__item--secondary{
        &::before{background-color:#eaeaea;}
    }
    &.kt-widget2__item--warning{
     &::before{z-index:1; bottom:0;        
    }
     &:after{
        display: block;
        width: 0.3rem;
        border-radius: 4px;
        width: 4px;
        border-radius: 4px;
       height: var(--progress-height);
        left: 0.8rem; z-index:2;
        content: ""; background:#1dc9b7;
        bottom:0;
     }
    }
}
.kt-widget2 .kt-widget2__item.kt-widget2__item--warning::after{position: absolute;
    }