<section class="w-100 mt-2">
    <div class="container-fluid">
      <div class="whitebgbox">
        <!-- MAIN HEADING BAR SECTION -->
        <div class="profile_manager">
          <div class="kt-portlet">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Proxy List</h3>
              </div>
              <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-actions">
                  <a routerLink="../add-proxy" class="btn btn-label-primary btn-sm btn-bold mr-2">Add New  Proxy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-container mb-5 pb-5">
          <div class="avatar_content">  
            <form>
              <div class="row mb-3">
                <div class="col-md-4">
                  <mat-form-field class="w-100 searchfield">
                    <mat-label>Search by proxy</mat-label>
                    <input type="text" name="search_by_proxy" [(ngModel)]="search_by_proxy" (keyup.enter)="bindData()" matInput />
                    <mat-icon (click)="bindData()" matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <mat-label>Status</mat-label>
                    <mat-select [(value)]="status_val"  (selectionChange)="bindData()">
                      <mat-option value="">All</mat-option>
                      <mat-option value="active">Active</mat-option>
                      <mat-option value="inactive">Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <mat-label>Country</mat-label>
                    <mat-select  [(value)]="selected_country"  (selectionChange)="bindData()">
                      <mat-option value="">All</mat-option>
                      <mat-option *ngFor="let c of collectionService.countryList" [value]="c.code">{{c.country}}</mat-option>                     
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>         
           
  
            <div [hidden]="!proxyList.length" class="proxy_table customScrollbar">
              <table mat-table [dataSource]="proxyList" #proxyListTbl class="mat-elevation-z8 w-100">
                <ng-container matColumnDef="Sr.No">
                  <th mat-header-cell *matHeaderCellDef width="80">Sr.No</th>
                  <td mat-cell *matCellDef="let element; let i=index">{{getRecordNumber(i)}}</td>
                </ng-container>

                <ng-container matColumnDef="Proxy">
                  <th mat-header-cell *matHeaderCellDef> Proxy </th>
                  <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
                </ng-container>

                <ng-container matColumnDef="Port">
                  <th mat-header-cell *matHeaderCellDef width="200"> Port</th>
                  <td mat-cell *matCellDef="let element"> {{element.port}} </td>
                </ng-container>

              <ng-container matColumnDef="Added From">
                  <th mat-header-cell *matHeaderCellDef> Added From</th>
                  <td mat-cell *matCellDef="let element"> {{element.added_from | titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="Country">
                  <th mat-header-cell *matHeaderCellDef> Country </th>                  
                  <td mat-cell *matCellDef="let element"> {{element.country | titlecase}} </td>
                </ng-container>
                 <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef>Status </th>
                  <td mat-cell *matCellDef="let element">
                    <span (click)="changeStatus($event, element.status, element.record_id)" 
                      [ngClass]="(element.status == 'active') ? 'btn-label-success' : (element.status == 'inactive') ? 'btn-label-danger'  : ''"
                      class="btn btn-bold btn-sm btn-font-sm status_btn">
                      {{element.status | titlecase}}
                    </span> </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef width="50"> Action </th>
                  <td mat-cell *matCellDef="let element; let i=index" align="center">
                    <ng-container *ngIf="element.added_from !== 'client'">                    
                    <a (click)="edit(element)" title="Edit" class="text-primary mr-3" href="javascript:void(0)"><i
                        class="flaticon-edit"></i></a>
                    <a (click)="delete(element.record_id)" title="Delete" class="text-danger" href="javascript:void(0)"><i
                        class="flaticon-delete"></i></a>
                    </ng-container>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            
            <mat-paginator [length]="totalNumberOfRecord" [pageSize]="size" [pageIndex]="page" [hidePageSize]="true"
          (page)="paginate($event)">
        </mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </section>